h1 , p {
    text-align: center;
}

ul:hover, ol:hover {
    background-color: turquoise;
}

li:active{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

li, ol {
    list-style: none;
}